

/*	Global Styles */

	html, body {
		width: 100%;
		height: 100%;
	}

	body {
		font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Ariel, sans-serif;		
	}

	h1 {
		white-space:nowrap;
		color: black;
	   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
	   -webkit-text-stroke-width: 1px;
	   -webkit-text-stroke-color: black;


	}

	h3 {
		color: black;
	   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
	   -webkit-text-stroke-width: 1px;
	   -webkit-text-stroke-color: black;

	}

	.text-vertical-center {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}

	.text-vertical-center h1 {
		font-weight: 700;
		margin: 0;
		padding: 0;
		white-space: nowrap;
	}

	/* Custom Button Styles */
	.btn-dark {
		color: #fff;
		border: none;
		border-radius: 0;
		background-color: rgba(0, 0, 0, .4); 
	}

	.btn-drak:hover, .btn-dark:focus, .btn-dark:active {
		color: #fff;
		background-color: rgba(0, 0, 0, .7);
	}

	.btn-light {
		color: #333;
		border: none;
		border-radius: 0;
		background-color: rgb(255, 255, 255);
	}

	.btn-light:hover, .btn-light:focus, .btn-light:active {
		color: #333;
		background-color: rgba(255, 255, 255, .8);
	}

	/* Custom Horizontal Rule */

	hr.small {
		max-width: 100px;
	}

	/* Side Menu */ 

	#sidebar-wrapper {
		position: fixed;
		z-index: 1000;
		right: 0;
		overflow-y: auto;
		width: 250px;
		height: 100%;
		-webkit-transition: all .4s ease 0s;
		-moz-transition: all .4s ease 0s;
		-ms-transition: all .4s ease 0s;
		-o-transition: all .4s ease 0s;
		transition: all .4s ease 0s;
		transform: translateX(250px);
		background: #222;
	}

	.sidebar-nav {
		position: absolute;
		top: 0;
		width: 250px;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.sidebar-nav li {
		line-height: 40px;
		text-indent: 20px;
	}

	.sidebar-nav li a {
		display: block;
		text-decoration: none;
		color: #999;
	}

	.sidebar-nav li a:hover {
		text-decoration: none;
		color: #fff;
		background: rgba(255, 255, 255, .2);
	}

	.sidebar-nav li a:active, .sidebar-nav li a:focus {
		text-decoration: none;
	}

	.sidebar-nav>.sidebar-brand {
		font-size: 18px;
		line-height: 55px;
		height: 55px;
	}

	.sidebar-nav>.sidebar-brand a:hover {
		color: #fff;
		background: none;
	}

	#menu-toggle {
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
	}

	#sidebar-wrapper.active {
		right: 250px;
		width: 250px;
		-webkit-transition: all .4s ease 0s;
		-moz-transition: all .4s ease 0s;
		-ms-transition: all .4s ease 0s;
		-o-transition: all .4s ease 0s;
		transition: all .4s ease 0s;
	}

	.toggle {
		font-size: 1em;
		margin: 5px 5px 0 0;
		padding: 15px 20px;
	}

	/* Header */

	.header {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	}

	/* Header-Group Project Web */

	.header-gw {
    position: relative;
    display: table;
    width: 100%;
    height: 60%;
    background: url(../img/guppeprosjekt.jpeg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	}

	/* Header-Group Project Web */

	.header-gj {
    position: relative;
    display: table;
    width: 100%;
    height: 60%;
    background: url(../img/javagruppeprosjekt.jpeg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	}

	/* Header-bachelor */

	.header-pb {
		position: relative;
		display: table;
		width: 100%;
		height: 60%;
		background: url(../img/bachelor.jpg) no-repeat center center scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	/* About */

	.about {
		padding: 50px 0;
	}

	/* Knowledge */
	.knowledge
	 {
		padding: 50px 0;
	}

	.knowledge-item {
		margin-bottom: 30px;
	}

	/* Portfolio */

	.portfolio {
		padding: 50px 0;
	}

	.portfolio-item {
		margin-bottom: 30px;
		position: relative;

	}

	.img-portfolio {
		margin: 0 auto;
	}

	.img-portfolio:hover {
		opacity: .8;
	}

	/* Footer */

	footer {
		padding: 100px 0;
	}

	#to-top {
		font-size: 1em;
		position: fixed;
		right: 5px;
		bottom: 5px;
		display: none;
		padding: 15px 20px;
	}

	.portfolio-logo {
		margin: 0 auto;
		height: 200px;
		width: 200px;
	}

	.center-text {
		white-space:nowrap;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	}